---
// Brand Marquee
// ------------
// Description: A brand marquee section with a title
// Properties:
// - title: The title of the brand marquee section
// - classes: Additional classes to be added to the brand marquee section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import DecorationBorder from '../../ui/DecorationBorder.astro'
import { Image } from 'astro:assets'
import LogosMarquee from '../../ui/Marquee.astro'

// Content
// - Images
import clientGoogle from '../../../assets/logos/client-google.png'
import clientIndipender from '../../../assets/logos/client-indipender.png'
import clientPelico from '../../../assets/logos/client-pelico.png'

// Repeat the 3 logos to fill the marquee
const images = [
	{ image: clientGoogle, alt: 'Google' },
	{ image: clientIndipender, alt: 'Indipender' },
	{ image: clientPelico, alt: 'Pelico' },
	{ image: clientGoogle, alt: 'Google' },
	{ image: clientIndipender, alt: 'Indipender' },
	{ image: clientPelico, alt: 'Pelico' },
	{ image: clientGoogle, alt: 'Google' },
	{ image: clientIndipender, alt: 'Indipender' },
	{ image: clientPelico, alt: 'Pelico' }
]
// - Props
type Props = {
	title?: string
}
const { title = '' } = Astro.props
---

<Section>
	<Row decorationBorder="top left right" gapY="0">
		<Col
			span="12"
			classes="px-8 py-12 relative bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] dark:bg-[url('/bgs/dot-gray-dark.svg')] dark:bg-size-[18px] dark:"
		>
			<h2 class="h5 mb-0! text-center leading-0">{title}</h2>
			<DecorationBorder type="bottom" style="dashed" />
		</Col>
		<Col span="12">
			<LogosMarquee classes="group">
				{
					images.map((item) => (
						<div class="brand-grid--item">
							<Image src={item.image} alt={item.alt} height="24" class="invert dark:invert-0 opacity-70 transition-opacity duration-300 hover:opacity-100" />
						</div>
					))
				}
			</LogosMarquee>
		</Col>
	</Row>
</Section>

<style>
	@reference '../../../styles/global.css';
	.brand-grid--item {
		@apply flex h-20 w-full min-w-52 items-center justify-center bg-white outline outline-neutral-200 transition delay-300! duration-700 ease-in-out group-hover:bg-white/0 group-hover:opacity-40 group-hover:blur-[1px] hover:delay-0! group-hover:hover:bg-white group-hover:hover:opacity-100 group-hover:hover:blur-none lg:h-[9rem] lg:min-w-72 lg:group-hover:bg-neutral-100 dark:bg-neutral-950 dark:outline-neutral-700 dark:group-hover:bg-neutral-900 dark:group-hover:hover:bg-neutral-950;
	}
</style>
