---
// PortableTextRenderer
// ------------
// Description: Renders Sanity Portable Text content as HTML
// Properties:
// - content: The Portable Text array from Sanity

import { PortableText } from 'astro-portabletext'
import DecorationBorder from '../../ui/DecorationBorder.astro'

type Props = {
  content: any[]
}

const { content } = Astro.props
---

<div
  class="relative mx-auto max-w-5xl bg-white text-xl leading-9 dark:bg-neutral-950 [&_p]:px-8 [&_p]:first:pt-6 [&_hr]:hidden"
>
  <div
    class="[&_h2]:px-8 [&_h2]:pt-8 [&_h2]:pb-2 [&_h3]:px-8 [&_h3]:pt-6 [&_h3]:pb-2 [&_blockquote]:px-8 [&_blockquote]:italic [&_blockquote]:border-l-4 [&_blockquote]:border-neutral-300 [&_a]:underline [&_a]:text-green-700 [&_a:hover]:text-green-900"
  >
    <PortableText value={content} />
  </div>
  <DecorationBorder type="top bottom" style="solid" />
</div>
